@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:wght@300;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

body {
    font-family: 'Funnel Sans', sans-serif;
    background: linear-gradient(#000000, #42576a, #830404,#1f008f, #b46204, #036e09);
    color: #1B3C53;
    margin: 0;
}

header {
    text-align: center;
    background-image: url(./IMG/header.jpeg);
    background-size: cover;      
    background-position: center;  
    background-repeat: no-repeat; 
    color: #ffffff;       
    border-bottom: 4px solid #ffffff; 
    padding: 8rem 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    font-family: "Orbitron", sans-serif;
}

header h1 {
    font-size: 5rem;      
    font-weight: 900;       
    text-transform: uppercase; 
    letter-spacing: 5px;    
    margin-bottom: 1rem;    
    text-shadow: 2px 2px 10px rgba(0,0,0,0.8); 
}


nav {
    text-align: center;
    background-color: #000000;
    padding: 1.25rem;
    border-bottom: 4px solid #ffffff;
}   

.navmenu a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 2rem;
    padding: 0.6rem;
    font-size: 1.5rem;
}

.navmenu a:hover {
    border-bottom: 3px solid #000000;
    background-color: #494949;
    color: #000000;
    border-radius: 5px;
}

h2 {
    text-align: left;
    color: #ffffff;
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 8px;
    margin-right: 8px;
}

p {
    color: white;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    margin: 1.5em;
    margin-top: 40px;
    line-height: 1.5rem;
}

img {
    float: right;
    max-width: 13em;
    margin-right: 10px;
}

#ferrariimg {
    float: right;
    max-width: 4em;
    margin-right: 40px;
}

#redbullimg {
    float: right;
    max-width: 8em;
    margin-right: 20px;

}